[Unit]
Description=Git agent

[Service]
EnvironmentFile=/home/git/.gitbot
ExecStart=/home/git/.venv/bin/python -m bot --space bot.spaces.Discord \
                                            --token ${BOT_TOKEN} \
                                            --modules gitbot.std \
                                            --errorsto "#errors"
Restart=always
Type=simple
User=git

[Install]
WantedBy=multi-user.target
